<!-- Безымянные partials -->

<!-- Вот здесь нужно выводить список станций маршрута по порядку, то есть сделать scope с сортировкой по полю station_number. -->
<% if @route.railway_stations.present? %>
  <table>
    <thead>
      <tr>
        <td>Название</td>
        <td>Позиция</td>
        <td>Время прибытия</td>
        <td>Время отправления</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td>
            <%= time_field_tag :arrival_time, station.arrival_time(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td>
            <%= time_field_tag :departure_time, station.departure_time(@route) %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= submit_tag "Изменить" %>
          </td>
          <% end %>
        </tr>
       <% end %>
    </tbody>
  </table>
<% else %>
  Станций на маршруте нет
<% end %>

