<%= link_to 'Главная', root_path %>


<p>
  <strong>Маршрут:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>Станции на маршруте:</strong>
  <%= render 'stations_on_the_route' %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <%= render 'trains_on_the_route' %>
</p>


<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>

