<p id="notice"><%= notice %></p>

<p>
  <strong>Train number:</strong><br>
  <%= render @train %>
</p>

<p>
  <strong>Train route:</strong><br>
  <%= render 'train_route' %>
</p>

<p>
  <strong>Train carriages:</strong><br>
  <%= render 'train_carriages' %>
</p>
 

<%= link_to 'Edit', edit_train_path(@train) %>
<%= link_to 'Back', trains_path %>
<%= link_to 'Home', root_path %>

