<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>train route:</strong>
  <% if @train.route.present? %>
  <%= @train.route.title %>
  <% else %>
  "Маршрут не назначен"
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

