<%= link_to 'Главная', root_path %><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong><br>
  <%= render @train %>
</p>

<p>
  <strong>Маршрут поезда:</strong><br>
  <%= render 'train_route' %>
</p>

<p>
  <strong>Вагоны у поезда:</strong><br>
  <%= render 'train_carriages' %>
</p>

 <p>
  <strong>Список вагонов:</strong>
<ul>
  <% @train.carriage_list.each do |carriage| %>
      <li>
        <%= link_to "Вагон № #{carriage.number}", carriage_path(carriage) %>
      </li>
  <% end %>
</ul>
</p>


<%= link_to 'Редактировать', edit_train_path(@train) %>
<%= link_to 'Назад', trains_path %>


