<h1>Добро пожаловать на железную дорогу!</h1>


<%= link_to 'Просмотр Станций',   railway_stations_path %><br>
<%= link_to 'Просмотр Поездов',   trains_path %><br>
<%= link_to 'Просмотр Маршрутов', routes_path %><br>
<%= link_to 'Просмотр Вагонов',   carriages_path %><br>
<%= link_to 'Поиск Билета',       search_path %><br>
