<!-- Безымянные partiials -->
<p>
  Number:<%= carriage.number %><br>
  Train:<%= carriage.train_id %><br>
  Type:<%= carriage.type_carriage %><br>
  Top_seats:<%= carriage.top_seats %><br>
  Bottom_seats:<%= carriage.bottom_seats %><br>
</p>
