<p id="notice"><%= notice %></p>

<p>
  <strong>Carriage:</strong>
  <%= render @carriage %>
</p>


<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>

<%= link_to 'Home', root_path %>

