<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон:</strong>
  <%= render @carriage %>
</p>


<%= link_to 'Редактировать', edit_carriage_path(@carriage) %>
<%= link_to 'Назад', carriages_path %>

<%= link_to 'Главная', root_path %>


