<%= link_to 'Главная', root_path %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Вагон:</strong>
  <%= render @carriage %>
</p>

<p>
<%= link_to 'Просмотреть', @carriage %>
<%= link_to 'Редактировать', edit_carriage_path(@carriage) %>
<%= link_to 'Удалить', @carriage, method: :delete, data: { confirm: 'Точно удалить?' } %><br>
<%= link_to 'Назад', carriages_path %>
</p>

