<p id="notice"><%= notice %></p>



<p>
  <strong>Route:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>Stations on the route:</strong>
  <%= render 'stations_on_the_route' %>
</p>

<p>
  <strong>Trains on the route:</strong>
  <%= render 'trains_on_the_route' %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
