<p id="notice"><%= notice %></p>



<p>
  <strong>Route:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>Stations on the route:</strong>
  <% if @route.railway_stations.present? %>
    <% @route.railway_stations.each do |station| %>
      <%= station.title %>
    <% end %>
  <% else %>
    Станций на маршруте нет
  <% end %>
</p>

<p>
  <strong>Trains on the route:</strong>
  <% if @route.trains.present? %>
    <% @route.trains.each do |train| %>
      <%= train.number %>
    <% end %>
  <% else %>
    Поездов на маршруте нет
  <% end %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
