<p id="notice"><%= notice %></p>



<p>
  <strong>Маршрут:</strong>
  <%= @route.title %>
</p>
<p>
  <strong>Станции на маршруте:</strong>
  <%= render 'stations_on_the_route' %>
</p>

<p>
  <strong>Поезда на маршруте:</strong>
  <%= render 'trains_on_the_route' %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
<%= link_to 'Главная', root_path %>
