<!DOCTYPE html>
<html>
<head>
  <title>Railway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Строки от devise -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %>
   <p>
     Привет: <%= current_user.email %>
   </p>
  <%else%>
  <li><%= link_to "Войти", new_user_session_path %></li>
<%end%>
<%= yield %>

<footer>
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>
